  body{
      background-image: url(../img/background_milan.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .container{
    width: 1100px;
    margin: 0 auto;
  }
  .header-section{
      margin-top: 51px;
      margin-bottom: 22px;
      display: flex;
      justify-content: space-between;
  }
  .head-link{
      display: flex
  }
  .head-title{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-top: 5px;
  }
  
  .head-link:hover .img-logo{
      content: url(../img/logo\ 2.png);
  }
  .head-link:hover .milan-title-link,
  .head-link:hover .holiday-title-link{
      color: #F26522;
  }
  
  
  .milan-title-link{
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .holiday-title-link{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  
  .contact-menu{
      display: flex;
      flex-direction: column;
      justify-content: inherit;
      column-gap: 30px;
  }
  .email-link,
  .phone-link{
    font-size: 18px;
    color: #FFFFFF;
  }
  .phone-link{
      align-self: end;
  }
  .email-link:hover,
  .phone-link:hover{
    color: #F26522;
  }
  .main-section{
      margin-bottom: 50px;
  }
  .main-item{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 62px;
  }
  .main-item-img{
    max-width: 320px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #000, #FFFFFF);
    padding: 3px;

  }
  .item-wrapper{
      display: flex;
      flex-direction: column;
      position: relative;  
      overflow: hidden;
  }
  .main-item-img{
    position: relative;  
    overflow: hidden;
  }
  .item-link{
      align-self: center;
      padding-top: 20px;
      font-size: 15px;
      color: #FFFFFF;
  }
  .item-wrapper:hover .item-link{
    color: #F26522;
  } 
  .item-wrapper:hover .item-hover{
      bottom: 38px;
  }
  .item-hover{
      position: absolute;
      bottom: -300px;
      transition: 0.5s;
  }
  
  .item-wrapper-hover{
      display: flex;
      justify-content: space-between;
      width: 340px;
      height: 55px;
      box-sizing: border-box;
      background-color: #F26522;
      padding: 8px 16px 12px;
  }
  
  .details{
      align-self: center;
      position: relative;
      right: 20px;
      font-size: 14px;
      color: #FFFFFF;
  }
  
  .details::after{
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 1px solid #FFFFFF ;
      border-right: 1px solid #FFFFFF ;
      transform: rotate(45deg);
      top: 2px;
  }
  .from{
    font-size: 10px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 8px;
  }
  .price{
    font-size: 20px;
    color: #FFFFFF;
  }
  
  .footer-section{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .footer-text{
    font-size: 12px;
    color: #FFFFFF;
  }